includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: max
    phpVersion: 80200
    paths:
        - foundation/src
        - modules/admin-ui/src
        - src
        - fastcgi-cache-for-ploi.php
        - uninstall.php
    treatPhpDocTypesAsCertain: false
    dynamicConstantNames:
        - FASTCGI_CACHE_FOR_PLOI_KEY
        - WP_DEBUG
        - DOING_AUTOSAVE
